[submodule "machine-learning-splines"]
	path = machine-learning-splines
	url = https://github.com/btasneem99/machine-learning-splines
[submodule "machine-learning-course-project-MLR"]
	path = machine-learning-course-project-MLR
	url = https://github.com/btasneem99/machine-learning-course-project-MLR
[submodule "machine-learning-course-project-logistic-regression"]
	path = machine-learning-course-project-logistic-regression
	url = https://github.com/btasneem99/machine-learning-course-project-logistic-regression
[submodule "machine-learning-CART"]
	path = machine-learning-CART
	url = https://github.com/btasneem99/machine-learning-CART
